<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <%= csrf_meta_tag %>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="0">
    <title><%= title %></title>

    <%= render 'layouts/stylesheets' %>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">

  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen', :charset => 'utf-8' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print', :charset => 'utf-8'%>

  <%= stylesheet_link_tag 'start/jquery-ui-1.8.6.custom', :media => 'screen', :charset => 'utf-8' %>

  <%= stylesheet_link_tag 'slick.grid', :media => 'screen', :charset => 'utf-8' %>
  <%= stylesheet_link_tag 'slick.columnpicker', :media => 'screen', :charset => 'utf-8' %>
  <%= stylesheet_link_tag 'slick.pager', :media => 'screen', :charset => 'utf-8' %>
  <%= stylesheet_link_tag 'slick.custom', :media => 'screen', :charset => 'utf-8' %>

    <script language="JavaScript" src="/javascripts/jquery-1.4.2.min.js"
    	charset="utf-8"></script>
    <script language="JavaScript" src="/javascripts/jquery-ui-1.8.6.custom.min.js"
    	charset="utf-8"></script>
    <script language="JavaScript" src="/javascripts/jquery.event.drag-2.0.min.js"
	    charset="utf-8"></script>

    <script language="JavaScript" src="/javascripts/slick.grid-1.4.3.js" charset="utf-8"></script>
    <script language="JavaScript" src="/javascripts/slick.editors-1.0.js" charset="utf-8"></script>
    <script language="JavaScript" src="/javascripts/slick.model-1.0.js" charset="utf-8"></script>
    <script language="JavaScript" src="/javascripts/slick.pager-1.0.js" charset="utf-8"></script>
    <script language="JavaScript" src="/javascripts/slick.columnpicker-1.0.js"
	    charset="utf-8"></script>

    <script language="JavaScript" src="/javascripts/requestcontroller-1.0.js"
	    charset="utf-8"></script>
    <script language="JavaScript" src="/javascripts/request-1.0.js" charset="utf-8"></script>
    <script language="JavaScript" src="/javascripts/slick.filter-1.0.js" charset="utf-8"></script>
    <script language="JavaScript" src="/javascripts/slick.custom-1.0.js" charset="utf-8"></script>


</head>
<body>
    <div class="container">
      <%= render 'layouts/header' %>
        <section class="round">
            <%= yield %>
        </section>
     </div>
</body>
</html>